@import './imports/navbar.css';
@import './imports/login.css';
@import './imports/register.css';
@import './imports/form.css';
@import './imports/segmentMessage.css';
@import './imports/mainPageSearchBar.css';
@import './imports/mainPageProducts.css';
@import './imports/productDetails.css';
@import './imports/cart.css';
@import './imports/resetPass.css';
@import './imports/settings.css';
@import './imports/productControl.css';
@import './imports/productUpload.css';
@import './imports/editProduct.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 0;
    padding: 0 15px;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    max-width: 1300px;
}

.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cfcfcf;
    padding: 20px;  
    border-radius: .5rem;
}

.link-container .link {
    font-size: 1.3rem;
    font-weight: 600;
    color: #1f5ed3;
}

.link-container .link:hover {
    color: #0942ad;
    text-decoration: underline;
}