@import './imports/navbar.css';
@import './imports/login.css';
@import './imports/register.css';
@import './imports/form.css';
@import './imports/segmentMessage.css';
@import './imports/mainPageSearchBar.css';
@import './imports/mainPageProducts.css';
@import './imports/productDetails.css';
@import './imports/cart.css';
@import './imports/resetPass.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 0;
    padding: 0 15px;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    max-width: 1300px;
}