.nav-header {
    margin-left: -6px !important;
    font-size: 1.4rem !important;
}

.mobile-nav-dropdown-btn {
    background: none !important;
    color: blue !important;
}

.nav-cart-btn {
    background: none !important;
    color: black !important;
}

.nav-dashboard-btn {
    background: none !important;
    color: blue !important;
}

.nav-cart-btn:hover {
    background-color: #dedeeb !important;
}

.nav-dashboard-btn:hover {
    background-color: #dedeeb !important;
}

.nav-avatar-container {
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    width: 100% !important;
    padding: 5px 0 !important;  
}

.nav-avatar {
    width: 23px;
    height: 23px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 6px;
}

.nav-avatar-btn {
    padding: 0 12px !important;
    background: none !important;
    color: #000 !important;
}

.nav-avatar-btn:hover {
    background: rgba(0, 0, 0, .2) !important;
}

@media all and (max-width: 440px) {
    .responsive-sign-in {
        font-size: .7rem !important;
    }

    .responsive-signup { 
        font-size: .7rem !important;
    }

    .nav-header {
        margin-left: -12px !important;
        font-size: .95rem !important;
    }
}

@media all and (max-width: 360px) {
    .responsive-logout {
        font-size: .8rem !important;
        width: 100px;
    }
}