.create-prod-form {
    width: 90%;
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: rgba(0, 0, 0, .3) 1px solid;
    border-radius: 2rem;
    margin-top: 10px;
}

.create-prod-form .prod-form { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prod-form .prod-form-gp {
    display: grid !important;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 1.3rem;
}

.prod-form .top-space {
    margin-top: 7px !important;
}

.prod-form .btn-container {
    margin-top: 40px !important;
}

.prod-image-container {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(3, 60px);
    grid-gap: .5rem;
    justify-content: center;
    justify-items: center;
    margin-top: 10px;
}

.prod-image-container .prod-image {
    width: 60px;
    height: 60px;
    border-radius: .4rem;
}

@media all and (max-width: 820px) {
    .prod-form .prod-form-gp {
        grid-template-columns: repeat(2, 250px);
    }

    .prod-image-container {
        grid-template-columns: repeat(3, 45px);
        grid-template-rows: repeat(4, 45px);
    }
    
    .prod-image-container .prod-image {
        width: 45px;
        height: 45px;
    }
}

@media all and (max-width: 640px) {
    .prod-form .prod-form-gp {
        grid-template-columns: repeat(2, 200px);
    }
}

@media all and (max-width: 540px) {
    .prod-form .prod-form-gp {
        grid-template-columns: repeat(2, 180px);
    }

    .prod-image-container {
        grid-template-columns: repeat(3, 45px);
        grid-template-rows: repeat(4, 45px);
    }
    
    .prod-image-container .prod-image {
        width: 45px;
        height: 45px;
    }
}


@media all and (max-width: 500px) {
    .prod-form .prod-form-gp {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        
    .prod-form .prod-form-gp {
        width: 100% !important;
    }

    .prod-form .img-input-field {
        width: 100% !important;
    }

    .prod-form .prod-form-field {
        width: 100% !important;
    }

    .prod-image-container {
        width: 100% !important;
        grid-template-columns: repeat(auto-fill, 45px);
    }
    
    .prod-image-container .prod-image {
        width: 45px;
        height: 45px;
    }
}