.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    margin: 10px;
    padding: 20px;
    border: 1px solid rgba(97, 97, 97, 0.5);
    border-radius: 1rem;
}

.register-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.names-avatar-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
}

.avatar-section {
    margin-left: auto;
}

.file-input {
    display: none;
}

.image-field { 
    position: relative;
}

.image-display {
    border-radius: 50% !important;
    cursor: pointer;
    width: 145px !important;
    height: 140px !important;
}

.select-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    background-color: rgba(128, 128, 128, 0.521);
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 58.5px;
    left: 58.5px;
    transition: .2s;
    cursor: pointer;
}

.select-button:hover {
    background-color: rgba(100, 100, 100, 0.521);
}

.delete-button {
    position: absolute;
    top: 115px;
    left: 100px;
}

.form-float-left {
    width: 100%;
    max-width: 330px;
    margin-right: 20px !important;
}

.error-register {
    border: 3px solid rgba(214, 1, 1, 0.5);
    background-color: rgba(255, 0, 0, 0.103);
}

@media all and (max-width: 645px) {
    .names-avatar-field {
        flex-direction: column;
    }
        
    .avatar-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
    }
        
    .form-float-left {
        margin-right: 1.5px !important;
    }
}