.segment-container {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.segment-container * {
    font-size: 1.2rem !important;
    font-weight: 700 !important;
}

.segment-message { 
    position: fixed !important;
    top: 65px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 3;
    width: 90%;
    max-width: 600px;
}

.close-icon {
    position: absolute;
    top: -3px;
    right: 0;
    cursor: pointer !important;
}

.retry-button {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: .3rem .35rem !important;
    padding-bottom: .45rem !important;
    margin: 0 !important;
    margin-top: 10px !important;
}